.wrapper {
  margin: 0 auto;
  height: 100%;
  padding-top: 0px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #e2dfdf9f;

}

#quiz {
  background-color: #e2dfdf9f;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 2%;
  color: black;
  text-align: center;
}

#quiz > h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
  text-decoration: underline;
}

.questions {
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #993a81;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-top: 2px solid rgb(0, 0, 0);
}

.answers div:first-child {
  border: none;
}

.checker {
  display: inline-block;
  
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 40px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
  color: white;
}

.false {
  background-color: #DC4437;
}